<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85109472512-lc2dloh2jks5mn8c1mc3apg6067gurpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85109472512-lc2dloh2jks5mn8c1mc3apg6067gurpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85109472512-aft5br5tanghf438f2u84a2979knpv30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-ulZpLZpxSr0ZScrWYP4wCSUcllAlBXk</string>
	<key>GCM_SENDER_ID</key>
	<string>85109472512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.openended.keep-product</string>
	<key>PROJECT_ID</key>
	<string>keep-product-59bac</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-product-59bac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85109472512:ios:eb21955a97d869058487e5</string>
</dict>
</plist>